on:
  push:
  workflow_dispatch:

jobs:
  foo:
    runs-on: ubuntu-latest
    steps:
      - run: echo '${{ github.event.repository.default_branch }}'
      - run: echo '${{ github.ref }}'
      - run: echo '${{ github.ref_name }}'
